## Описание колонок

`Rank` - Общий рейтинг продаж

`Name` - Название игры

`Platform` - Платформа, на которой выпущена игра (например, PC, PS4 и т.д.)

`Year` - Год выпуска игры

`Genre` - Жанр игры

`Publisher` - Издатель игры

`NA_Sales` - Продажи в Северной Америке (в миллионах)

`EU_Sales` - Продажи в Европе (в миллионах)

`JP_Sales` - Продажи в Японии (в миллионах)

`Other_Sales` - Продажи в остальном мире (в миллионах)

`Global_Sales` - Общемировые продажи.

In [1]:
import pandas as pd
import numpy as np
# загрузите датасет
df = pd.read_csv("vgsales.csv")  # ваш код здесь

# после того датасет корректно загрузился, можно посмотреть на данные глазами
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### Дальше идут вопросы по датасету, на которые нужно найти ответ используя функционал библиотеки Pandas.

вопрос 1: Найдите количество уникальных игр в датасете.

*note*: обратите внимание на функции unique, nunique в Pandas

оригинал - https://pandas.pydata.org/docs/reference/api/pandas.unique.html

на русском - https://runebook.dev/ru/docs/pandas/reference/api/pandas.unique

In [2]:
# ваш код здесь
unique_games = pd.unique(df["Name"])
# среди них может быть NaN значение, потому проверяем.
unique_games_true_or_false = pd.Series(unique_games).isna()
# подсчёт уникальных значений без NaN
unique_games_count = len(unique_games) - sum(unique_games_true_or_false)
print(f'количество уникальных игр = {unique_games_count}')

количество уникальных игр = 11493

вопрос 2: Какова общая величина продаж игр в Японии?

In [3]:
# ваш код здесь
df = df.dropna()
sales_JP = sum(df["JP_Sales"])
print(f'продажи в Японии в миллионах = {sales_JP}')

продажи в Японии в миллионах = 1284.2699999999031

вопрос 3: Какие три жанра игр самые популярные в Северной Америке (по количеству продаж)?

In [4]:
# ваш код здесь
# группируем по жанру и сортируем по продажам в Северной Америке
grouped_df = df.groupby(['Genre']).sum().sort_values(
    by = 'NA_Sales',
    ascending = False
)
grouped_df.head(3)

,Rank,Name,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,,,,
Action,25955792,Grand Theft Auto VGrand Theft Auto: San Andrea...,PS3PS2X360PS2PS2PS4DSX360PS3PS3PSPN64WiiPS3PS3...,6527703.0,Take-Two InteractiveTake-Two InteractiveTake-T...,861.77,516.48,158.65,184.92,1722.84
Sports,17105195,Wii SportsWii Sports ResortWii FitWii Fit Plus...,WiiWiiWiiWiiPS4WiiPS3WiiPS3PS4X360DSPS3PSPS2PS...,4620621.0,NintendoNintendoNintendoNintendoElectronic Art...,670.09,371.34,134.76,132.65,1309.24
Shooter,9399409,Duck HuntCall of Duty: Modern Warfare 3Call of...,NESX360X360PS4PS3X360X360PS3PS3X360PS3X360X360...,2571588.0,NintendoActivisionActivisionActivisionActivisi...,575.16,310.45,38.18,101.90,1026.20

вопрос 4: Какая платформа была самой популярной (по количеству выпущенных игр) в 2000 году? А в 2015?

In [5]:
# ваш код здесь
# функция для нахождения популярной платформы в какой-либо год.
def year_famous(year, main_df):
    new_df = main_df[['Name', 'Platform', 'Year']]
    new_df = new_df.loc[new_df['Year'] == year]
    new_df = new_df[['Name', 'Platform']]
    new_df = new_df.groupby(['Platform']).count().sort_values('Name')
    return new_df

In [6]:
# 2000 год
df_2000 = year_famous(2000, df)
df_2000.tail(1)

          Name
Platform
PS         159

In [7]:
# 2015 год
df_2015 = year_famous(2015, df)
df_2015.tail(1)

          Name
Platform
PS4        137

вопрос 5: Какой издатель выпустил больше всего игр в период 2012-2015 оба конца включительно?

In [9]:
# ваш код здесь
# тот же принцип, что и с заданием номер 5.
df[(2012 <= df.Year) & (df.Year <= 2015)].groupby("Publisher")["Name"].nunique().sort_values()[-1:]

Publisher
Namco Bandai Games    208
Name: Name, dtype: int64

вопрос 6: Какой процент игр в жанре спорт был продан в Европе?

In [14]:
# ваш код здесь
# берём лишь те игры, что были проданы в Европе
EU = df.loc[df['EU_Sales'] > 0]
# берём лишь необходимые ячейки
EU = EU[['Genre', 'EU_Sales']]
# группируем
EU = EU.groupby(['Genre']).sum()
display(EU)
eu_sports = EU['EU_Sales'].iloc[10]

              EU_Sales
Genre
Action          516.48
Adventure        63.74
Fighting        100.00
Misc            211.77
Platform        200.65
Puzzle           50.52
Racing          236.31
Role-Playing    187.57
Shooter         310.45
Simulation      113.02
Sports          371.34
Strategy         44.84

In [15]:
# делаем тоже самое для глобальных продаж
world = df.loc[df['Global_Sales'] > 0]
world = world[['Genre', 'Global_Sales']]
world = world.groupby(['Genre']).sum()
display(world)
world_sports = world['Global_Sales'].iloc[10]

              Global_Sales
Genre
Action             1722.84
Adventure           234.59
Fighting            444.05
Misc                789.87
Platform            829.13
Puzzle              242.21
Racing              726.76
Role-Playing        923.83
Shooter            1026.20
Simulation          389.98
Sports             1309.24
Strategy            173.27

In [16]:
# расчитываем процент
eu_sports_percentage = eu_sports / world_sports * 100
print(f'процентаж проданных игр в жанре спорт в Европе = {eu_sports_percentage}%')

процентаж проданных игр в жанре спорт в Европе = 28.363019767193176%